In [10]:
import pandas as pd
import numpy as np

import yfinance as yf

In [12]:
def esg_score_weight(data: pd.DataFrame, weights: np.array):
    """
    
    :param: 
    :param:
    :param: 
    :returns:
    """
    if np.sum(weights) != 1:
        return("Weights must sum to 1")
    else:


        data["weighted_score"] = (data["environment_score"] * (weights[0]/1)) + \
                           (data["governance_score"] * (weights[1]/1)) + \
                           (data["social_score"] * (weights[2]/1))
        for index, row in data.iterrows():
            if row['CurrencyCode'] == 'SEK':
                data.at[index, 'stock_symbol'] += '.ST'
            elif row['CurrencyCode'] == 'NOK':
                data.at[index, 'stock_symbol'] += '.OL'
            elif row['CurrencyCode'] == 'DKK':
                data.at[index, 'stock_symbol'] += '.CO'
        return data

In [13]:
df1 = esg_score_weight(pd.read_excel(r'DATA/ESG_DATA.xlsx'),np.array([1,0,0]))

In [14]:
df1

,Isin,CurrencyCode,company_name,environment_grade,environment_level,environment_score,governance_grade,governance_level,governance_score,social_grade,social_level,social_score,stock_symbol,total,total_grade,total_level,weighted_score
0,SE0011337708,SEK,AAK AB (publ.),AA,Excellent,647,BB,Medium,345,BB,Medium,307,AAK.ST,1299,A,High,647.0
1,CH0012221716,SEK,ABB Ltd,BB,Medium,306,B,Medium,220,BBB,High,425,ABB.ST,951,BBB,High,306.0
2,SE0007897079,SEK,ACADIA Pharmaceuticals Inc.,B,Medium,290,BB,Medium,300,BB,Medium,344,ACAD.ST,934,BBB,High,290.0
3,SE0014781795,SEK,Addtech AB (publ.),A,High,500,BB,Medium,300,BB,Medium,300,ADDT-B.ST,1100,BBB,High,500.0
4,CA00830W1059,SEK,AEC Securities Public Company Limited,B,Medium,240,BB,Medium,300,BB,Medium,300,AEC.ST,840,BB,Medium,240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,DK0060036564,DKK,Spar Nord Bank A/S,B,Medium,230,BB,Medium,300,B,Medium,216,SPNO.CO,746,B,Medium,230.0
283,DK0060696300,DKK,Straker Translations Limited,BBB,High,410,BB,Medium,315,BB,Medium,301,STG.CO,1026,BBB,High,410.0
284,DK0010311471,DKK,Sydbank A/S,A,High,500,BB,Medium,300,BB,Medium,301,SYDB.CO,1101,BBB,High,500.0
285,DK0060477503,DKK,Thorney Opportunities Ltd,B,Medium,215,BB,Medium,305,B,Medium,203,TOP.CO,723,B,Medium,215.0
286,DK0060636678,DKK,Tryg A/S,B,Medium,205,B,Medium,215,B,Medium,205,TRYG.CO,625,B,Medium,205.0

In [5]:
import yfinance as yf
import pandas as pd




#Function that takes a dataframe with the layout as above as well as a timeframe in which you want your data from 

def monthly_close(data: pd.DataFrame, dates: tuple):
    symbols = data['stock_symbol'].unique()

# create a new dataframe to store the monthly closing data
    monthly_close_df = pd.DataFrame()
    for symbol in symbols:
    # retrieve data from yfinance
        stock_data = yf.download(symbol, start=dates[0], end=dates[1], interval='1mo', progress=False)
        
        # extract the 'Close' column and rename it with the stock symbol
        stock_data = stock_data[['Close']].rename(columns={'Close': symbol})
        
        # add the weighted score for the stock
        weighted_score = data.loc[data['stock_symbol']==symbol, 'weighted_score'].iloc[0]
        stock_data[symbol + '_weighted'] = weighted_score
        
        # append the stock data to the monthly_close_df
        monthly_close_df = pd.concat([monthly_close_df, stock_data], axis=1)
    return(monthly_close_df.dropna(axis=1,how='all'))

In [6]:
df2 = monthly_close(df1,dates=('2010-01-01','2022-03-01'))

1 Failed download:
- COLL.ST: Data doesn't exist for startDate = 1262300400, endDate = 1646089200

1 Failed download:
- JOBS.ST: Data doesn't exist for startDate = 1262300400, endDate = 1646089200

1 Failed download:
- MSEIS.OL: No timezone found, symbol may be delisted

1 Failed download:
- SDRL.OL: Data doesn't exist for startDate = 1262300400, endDate = 1646089200

.to_csv('cleaned_data.csv', index=False)

In [11]:
print(df2)
df2.to_csv('df.csv')

                               AAK.ST  AAK.ST_weighted      ABB.ST  \
Date
2009-12-31 23:00:00+00:00   28.250000           1299.0  135.399994
2010-01-31 23:00:00+00:00   31.666666           1299.0  144.000000
2010-02-28 23:00:00+00:00   32.666664           1299.0  157.899994
2010-03-31 22:00:00+00:00   30.500000           1299.0  140.899994
2010-04-30 22:00:00+00:00   23.750000           1299.0  135.199997
...                               ...              ...         ...
2021-09-30 22:00:00+00:00  187.699997           1299.0  283.899994
2021-10-31 23:00:00+00:00  181.149994           1299.0  312.299988
2021-11-30 23:00:00+00:00  195.300003           1299.0  345.399994
2021-12-31 23:00:00+00:00  173.850006           1299.0  318.799988
2022-01-31 23:00:00+00:00  172.949997           1299.0  320.399994

                           ABB.ST_weighted    ACAD.ST  ACAD.ST_weighted  \
Date
2009-12-31 23:00:00+00:00            951.0        NaN               NaN
2010-01-31 23:00:00+00:00            951.0        NaN               NaN
2010-02-28 23:00:00+00:00            951.0        NaN               NaN
2010-03-31 22:00:00+00:00            951.0        NaN               NaN
2010-04-30 22:00:00+00:00            951.0        NaN               NaN
...                                    ...        ...               ...
2021-09-30 22:00:00+00:00            951.0  61.500000             934.0
2021-10-31 23:00:00+00:00            951.0  54.900002             934.0
2021-11-30 23:00:00+00:00            951.0  55.500000             934.0
2021-12-31 23:00:00+00:00            951.0  53.599998             934.0
2022-01-31 23:00:00+00:00            951.0  54.900002             934.0

                            ADDT-B.ST  ADDT-B.ST_weighted  AEC.ST  \
Date
2009-12-31 23:00:00+00:00    8.857791              1100.0     NaN
2010-01-31 23:00:00+00:00    8.934482              1100.0     NaN
2010-02-28 23:00:00+00:00    9.337108              1100.0     NaN
2010-03-31 22:00:00+00:00    9.548008              1100.0     NaN
2010-04-30 22:00:00+00:00    9.663045              1100.0     NaN
...                               ...                 ...     ...
2021-09-30 22:00:00+00:00  192.000000              1100.0   2.046
2021-10-31 23:00:00+00:00  206.000000              1100.0   1.711
2021-11-30 23:00:00+00:00  216.000000              1100.0   1.715
2021-12-31 23:00:00+00:00  170.000000              1100.0   1.744
2022-01-31 23:00:00+00:00  157.000000              1100.0   1.936

                           AEC.ST_weighted  ...    SPNO.CO  SPNO.CO_weighted  \
Date                                        ...
2009-12-31 23:00:00+00:00              NaN  ...  42.435246             746.0
2010-01-31 23:00:00+00:00              NaN  ...  41.727989             746.0
2010-02-28 23:00:00+00:00              NaN  ...  41.020737             746.0
2010-03-31 22:00:00+00:00              NaN  ...  45.264259             746.0
2010-04-30 22:00:00+00:00              NaN  ...  42.788872             746.0
...                                    ...  ...        ...               ...
2021-09-30 22:00:00+00:00            840.0  ...  82.900002             746.0
2021-10-31 23:00:00+00:00            840.0  ...  83.900002             746.0
2021-11-30 23:00:00+00:00            840.0  ...  83.599998             746.0
2021-12-31 23:00:00+00:00            840.0  ...  95.000000             746.0
2022-01-31 23:00:00+00:00            840.0  ...  87.699997             746.0

                               STG.CO  STG.CO_weighted     SYDB.CO  \
Date
2009-12-31 23:00:00+00:00         NaN              NaN  139.899994
2010-01-31 23:00:00+00:00         NaN              NaN  134.500000
2010-02-28 23:00:00+00:00         NaN              NaN  147.800003
2010-03-31 22:00:00+00:00         NaN              NaN  164.600006
2010-04-30 22:00:00+00:00         NaN              NaN  142.100006
...                               ...              ...         ...
2021-09-30 22:00:00+00:00  144.600006           1026.0  221.000000
2021-10-31 23:00:00+00:00  120.500000           1026.0  213.000000
2021-11-30 23:00:00+00:00  137.300003           1026.0  206.800003
2021-12-31 23:00:00+00:00  142.399994           1026.0  233.000000
2022-01-31 23:00:00+00:00  150.000000           1026.0  216.000000

                           SYDB.CO_weighted      TOP.CO  TOP.CO_weighted  \
Date
2009-12-31 23:00:00+00:00            1101.0   65.599998            723.0
2010-01-31 23:00:00+00:00            1101.0   65.550003            723.0
2010-02-28 23:00:00+00:00            1101.0   71.800003            723.0
2010-03-31 22:00:00+00:00            1101.0   69.349998            723.0
2010-04-30 22:00:00+00:00            1101.0   69.150002            723.0
...                                     ...         ...              ...
2021-09-30 22:00:00+00:00            1101.0  341.799988            723.0
2021-10-31 23:00:00+00:00            1101.0  354.000000            723.0
2021-11-30 23:00:00+00:00            1101.0  367.000000            723.0
2021-12-31 23:00:00+00:00            1101.0  378.200012            723.0
2022-01-31 23:00:00+00:00            1101.0  379.000000            723.0

                              TRYG.CO  TRYG.CO_weighted
Date
2009-12-31 23:00:00+00:00   65.800003             625.0
2010-01-31 23:00:00+00:00   71.279999             625.0
2010-02-28 23:00:00+00:00   72.760002             625.0
2010-03-31 22:00:00+00:00   69.120003             625.0
2010-04-30 22:00:00+00:00   65.900002             625.0
...                               ...               ...
2021-09-30 22:00:00+00:00  152.550003             625.0
2021-10-31 23:00:00+00:00  158.949997             625.0
2021-11-30 23:00:00+00:00  161.500000             625.0
2021-12-31 23:00:00+00:00  156.449997             625.0
2022-01-31 23:00:00+00:00  150.600006             625.0

[146 rows x 562 columns]

In [12]:
df2.to_csv('df.csv')