In [1]:
import pandas as pd
from src.data import get_financial_data, filter_universe_esg, simulate_random_data_esg
from src.portfolio import *
import yfinance as yf

In [4]:
# get yfinancial data
data = pd.read_csv('data/sp500_monthly_prices.csv')
data

,Date,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,...,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,2013-04-01,104.709999,18.857500,36.919998,46.049999,81.440002,14.960000,33.939999,45.080002,59.122036,...,105.112579,246.470001,137.300003,31.790001,27.750000,48.971962,46.650002,74.223305,24.620001,33.020000
1,2013-05-01,110.269997,19.600000,36.669998,42.689999,82.110001,14.430000,32.230000,42.910000,60.333626,...,103.470200,257.440002,135.889999,28.719999,28.139999,48.705967,45.660000,76.223305,28.070000,32.000000
2,2013-06-01,109.349998,18.139999,34.880001,41.340000,71.959999,14.260000,33.910000,45.560001,60.456539,...,108.026489,252.179993,127.970001,28.340000,26.940001,49.849030,43.439999,72.757278,28.920000,30.889999
3,2013-07-01,117.430000,20.660000,36.630001,45.480000,73.809998,17.980000,36.470001,47.279999,63.292362,...,113.377480,262.140015,133.130005,29.950001,24.930000,52.422718,46.169998,81.048546,29.639999,29.809999
4,2013-08-01,113.580002,21.025000,33.330002,42.610001,72.250000,16.320000,35.209999,45.750000,62.475857,...,109.350990,247.350006,141.039993,27.920000,24.780001,50.337887,45.599998,76.786407,27.969999,29.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2022-12-01,119.919998,57.240002,109.790001,161.610001,266.839996,76.550003,92.849998,336.529999,238.860001,...,244.580002,556.250000,82.470001,70.110001,110.570000,128.080002,256.410004,127.500000,49.160000,146.550003
117,2023-01-01,115.080002,67.699997,110.550003,147.750000,279.049988,76.570000,82.849998,370.339996,225.809998,...,254.190002,589.479980,103.639999,68.769997,104.010002,130.509995,316.179993,127.339996,53.160000,165.490005
118,2023-02-01,107.739998,65.629997,101.720001,153.899994,265.549988,76.250000,79.599998,323.950012,219.820007,...,234.360001,668.429993,108.370003,64.570000,102.650002,127.160004,300.250000,123.870003,50.619999,167.000000
119,2023-03-01,109.900002,67.639999,102.629997,154.380005,265.260010,77.709999,80.570000,333.500000,222.550003,...,237.619995,684.500000,113.410004,64.339996,102.250000,128.679993,306.059998,122.989998,48.310001,168.580002
120,2023-03-02,109.900002,67.639999,102.629997,154.380005,265.260010,77.709999,80.570000,333.500000,222.550003,...,237.619995,684.500000,113.410004,64.339996,102.250000,128.679993,306.059998,122.989998,48.310001,168.580002

In [3]:
# simulate ESG data
df = simulate_random_data_esg(n_rows = 121)

In [10]:
df_result = pd.DataFrame()
for col in data.columns:
    df_result = pd.concat([df_result, data[[col]], df], axis=1)