In [13]:

import pandas as pd
from data import *

In [18]:
esg_score_weight(pd.read_excel(r"C:\Users\Tor Osted\OneDrive\Dokumenter\GitHub\BachelorThesis\data\ESG_DATA_S&P500.xlsx"),np.array([1/3,1/3,1/3]),1400) #v√¶gtfunktionen skal fikses

,Isin,CurrencyCode,company_name,environment_grade,environment_level,environment_score,esg_id,exchange_symbol,governance_grade,governance_level,governance_score,last_processing_date,social_grade,social_level,social_score,stock_symbol,total,total_grade,total_level,weighted_score
20,US0231351067,USD,"Amazon.com, Inc.",AA,Excellent,660,342,NASDAQ,BBB,High,460,20230221,BB,Medium,308,AMZN,1428,A,High,1428.0
277,US5949181045,USD,Microsoft Corporation,AA,Excellent,805,4720,NASDAQ,BB,Medium,390,20230222,A,High,504,MSFT,1699,A,High,1699.0