In [1]:
%pylab
from src import data

from src import efficient_frontier
from src import filter_assets
from src import plot
from src import portfolio
import numpy as np
import pandas as pd
from scipy.optimize import Bounds

Using matplotlib backend: TkAgg
%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [2]:
weights = np.array([1/3,1/3,1/3])
df = pd.read_excel(r"C:\Users\toros\OneDrive\Dokumenter\GitHub\BachelorThesis\All_Code\data\ESG_DATA_S&P500.xlsx")
dates = ('2003-01-01','2023-01-01')
variance_period = 10 #Amount of years we want to look back when calculating expected returns
Bounds = Bounds(-1,2) #How willing we are to go short and to invest in one particular stock
Wanted_return = 0.20
maximum_risk = 0.10

In [3]:
esg_data = data.esg_score_weight(df,weights,1250)

In [4]:
full_data = data.stock_monthly_close(esg_data,dates)

In [5]:
prices,esgdata = data.seperate_full_data(full_data)

In [6]:
pct_returns = data.pct_returns_from_prices(prices)

In [7]:
prices #Different amount of rows from ESG_DATA as it drops all na

,AMZN,AKAM,APD,CPB,BAX,CLX,ED,EMN,INTC,IDXX,...,REG,SEE,STT,AES,TT,URI,WM,WEC,WAB,WY
Date,,,,,,,,,,,,,,,,,,,,,
2003-01-01,1.092500,1.330000,38.344128,23.969999,15.306898,38.220001,39.919998,17.115000,15.660000,8.655000,...,31.680000,18.860001,39.590000,3.470000,12.163626,10.330000,22.990000,12.125000,6.000000,48.049999
2003-02-01,1.100500,1.530000,35.855690,20.740000,15.420967,42.310001,39.000000,16.094999,17.250000,9.115000,...,32.169998,18.135000,36.849998,3.320000,12.222492,8.630000,19.900000,11.425000,5.500000,49.849998
2003-03-01,1.301500,1.410000,38.325623,21.000000,10.124932,46.169998,38.470001,14.495000,16.280001,8.742500,...,32.950001,20.065001,31.629999,3.620000,11.956045,9.620000,21.180000,12.700000,5.805000,47.830002
2003-04-01,1.434500,2.420000,39.842739,22.030001,12.493210,45.220001,38.869999,15.265000,18.400000,9.750000,...,33.000000,21.424999,35.029999,6.010000,13.656970,10.300000,21.719999,13.165000,6.130000,49.590000
2003-05-01,1.794500,3.660000,40.323772,24.950001,13.764259,44.660000,42.990002,16.344999,20.820000,8.910000,...,33.980000,21.945000,38.310001,7.920000,13.570219,12.780000,25.469999,13.925000,6.855000,50.380001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,126.769997,90.279999,252.449997,50.380001,57.459999,144.339996,97.739998,91.000000,31.920000,347.619995,...,60.840000,53.810001,68.349998,25.450001,154.070007,292.040009,169.029999,103.139999,87.650002,34.160000
2022-09-01,113.000000,80.320000,232.729996,47.119999,53.860001,128.389999,85.760002,71.050003,25.770000,325.799988,...,53.849998,44.509998,60.810001,22.600000,144.809998,270.119995,160.210007,89.430000,81.349998,28.559999
2022-10-01,102.440002,88.330002,250.399994,52.910000,54.349998,146.039993,87.959999,76.809998,28.430000,359.679993,...,60.509998,47.619999,74.000000,26.160000,159.630005,315.709991,158.369995,91.330002,93.279999,30.930000
2022-11-01,96.540001,94.860001,310.160004,53.669998,56.529999,148.649994,98.040001,86.620003,30.070000,425.869995,...,66.430000,53.230000,79.669998,28.920000,178.419998,353.029999,167.720001,99.139999,101.089996,32.709999
2022-12-01,84.000000,84.300003,308.260010,56.750000,50.970001,140.330002,95.309998,81.440002,26.430000,407.959991,...,62.500000,49.880001,77.570000,28.760000,168.089996,355.420013,156.880005,93.760002,99.809998,31.000000

In [8]:
parameters = portfolio.rolling_window_efficient_frontier(pct_returns,Bounds,Wanted_return)

c:\Users\toros\OneDrive\Dokumenter\GitHub\BachelorThesis\All_Code\src\efficient_frontier.py:40: OptimizeWarning: Unknown solver options: xtol, gtol, barrier_tol
  result = minimize(function,
c:\Users\toros\OneDrive\Dokumenter\GitHub\BachelorThesis\All_Code\src\efficient_frontier.py:63: OptimizeWarning: Unknown solver options: xtol, gtol, barrier_tol
  result = minimize(function,

Min. Risk = 7.708% => Return: 7.739%  Sharpe Ratio = 1.00
Max. Sharpe Ratio = 2.03 => Return: 20.00%  Risk: 9.862%
Min. Risk = 8.258% => Return: 7.798%  Sharpe Ratio = 0.94
Max. Sharpe Ratio = 1.88 => Return: 20.00%  Risk: 10.633%
Min. Risk = 8.071% => Return: 10.176%  Sharpe Ratio = 1.26
Max. Sharpe Ratio = 2.04 => Return: 20.00%  Risk: 9.810%

In [ ]:
weight_array = []
for i in range(len(parameters)):
    weight_array.append(parameters[i][6])

weight_array

In [ ]:
plot.plot_efficient_frontier(parameters)